@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  color-scheme: light dark;
}

html {
  background-color: #f6f7f8;
}

html.dark {
  background-color: #101c22;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}
